In [1]:
import pandas as pd

In [19]:
df=pd.read_csv("Life-Expectancy-Data-Averaged.csv")
df.head(10)

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status,Life_expectancy
0,Afghanistan,Asia,2007.5,71.08125,98.61250,265.804969,0.016125,64.5625,24.3750,22.46250,55.3750,55.1250,0.022500,408.5625,27.450625,16.58125,15.58125,2.90000,1.0,59.65625
1,Albania,Rest of Europe,2007.5,15.25625,17.14375,83.132969,4.696875,98.0000,95.9375,25.85625,98.1250,98.0625,0.025625,3071.1250,2.969375,1.61875,1.70000,9.24375,1.0,75.95000
2,Algeria,Africa,2007.5,26.75625,31.19375,113.439281,0.400625,88.3125,93.2500,24.86875,91.7500,91.8750,0.021875,3745.1250,34.820625,6.09375,5.97500,6.99375,1.0,73.78750
3,Angola,Africa,2007.5,88.76875,144.16250,297.844063,4.935625,68.8125,64.0000,22.51875,35.7500,55.5625,1.303750,2647.8125,21.623750,6.19375,6.66875,4.60625,1.0,52.82500
4,Antigua and Barbuda,Central America and Caribbean,2007.5,9.47500,11.51875,142.478813,7.755000,98.2500,75.4375,25.85000,96.9375,98.3125,0.125000,14678.7500,0.085000,3.42500,3.37500,9.01875,1.0,75.35000
5,Argentina,South America,2007.5,13.85000,15.50625,127.912656,7.959375,85.3125,84.6875,26.85000,92.2500,92.3750,0.145625,12169.1250,39.913125,1.07500,0.95000,9.36875,1.0,74.86250
6,Armenia,Rest of Europe,2007.5,19.03125,21.39375,137.939937,3.734375,87.5625,94.6875,25.94375,94.1875,92.4375,0.080625,2657.3750,2.951250,2.03750,2.11250,11.05625,1.0,72.98750
7,Australia,Oceania,2007.5,4.31250,5.15625,65.958594,10.145625,93.5000,87.2500,26.75000,91.8125,91.9375,0.046875,51750.9375,21.289375,0.66875,0.62500,12.18750,0.0,81.11250
8,Austria,European Union,2007.5,3.81250,4.60000,78.310500,12.226875,81.0625,60.9375,25.29375,86.0000,86.7500,0.080000,42376.0000,8.295625,1.73125,1.93750,10.83125,0.0,79.97500
9,Azerbaijan,Asia,2007.5,39.45625,46.33750,144.664344,0.747500,68.1875,79.5625,26.19375,84.8125,82.3125,0.124375,3813.6875,8.760000,2.90000,2.94375,10.61250,1.0,69.72500

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      179 non-null    object
 1   Region                       179 non-null    object
 2   Year                         179 non-null    float64
 3   Infant_deaths                179 non-null    float64
 4   Under_five_deaths            179 non-null    float64
 5   Adult_mortality              179 non-null    float64
 6   Alcohol_consumption          179 non-null    float64
 7   Hepatitis_B                  179 non-null    float64
 8   Measles                      179 non-null    float64
 9   BMI                          179 non-null    float64
 10  Polio                        179 non-null    float64
 11  Diphtheria                   179 non-null    float64
 12  Incidents_HIV                179 non-null    float64
 13  GDP_per_capita               179 non-null    float64
 14  Population_mln               179 non-null    float64
 15  Thinness_ten_nineteen_years  179 non-null    float64
 16  Thinness_five_nine_years     179 non-null    float64
 17  Schooling                    179 non-null    float64
 18  Economy_status               179 non-null    float64
 19  Life_expectancy              179 non-null    float64
dtypes: float64(18), object(2)
memory usage: 28.1+ KB

In [21]:
df.dtypes

Country                         object
Region                          object
Year                           float64
Infant_deaths                  float64
Under_five_deaths              float64
Adult_mortality                float64
Alcohol_consumption            float64
Hepatitis_B                    float64
Measles                        float64
BMI                            float64
Polio                          float64
Diphtheria                     float64
Incidents_HIV                  float64
GDP_per_capita                 float64
Population_mln                 float64
Thinness_ten_nineteen_years    float64
Thinness_five_nine_years       float64
Schooling                      float64
Economy_status                 float64
Life_expectancy                float64
dtype: object

In [22]:
df.columns

Index(['Country', 'Region', 'Year', 'Infant_deaths', 'Under_five_deaths',
       'Adult_mortality', 'Alcohol_consumption', 'Hepatitis_B', 'Measles',
       'BMI', 'Polio', 'Diphtheria', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_ten_nineteen_years',
       'Thinness_five_nine_years', 'Schooling', 'Economy_status',
       'Life_expectancy'],
      dtype='object')